<div class="subscription-box">
  <h3>Susbscribe now</h3>
  <form class="subscription-form" data-members-form="signup">
    <input data-members-name type="text" placeholder="name" required />
    <input data-members-email type="email" placeholder="email" required />
    <button class="btn" type="submit">Singup</button>
    <div class="success-message">
      Great! Check your inbox and click the link.
    </div>
    <div class="error-message">
      Sorry, something went wrong. Please try again.
    </div>
  </form>
</div>
