<section class="gh-outer">
    <div class="gh-inner">
        <h1 class="gh-header-title is-title">Zarejestruj się</h1>
        <form class="gh-form" data-members-form="signup">
            <input class="gh-form-input" name="email" type="email" placeholder="Twój email" required data-members-email>
            <button class="gh-button" type="submit">Dołącz</button>
            <p data-members-error></p>
        </form>
    </div>
</section>
