{{!< default}}

<main class="gh-main">
    <article class="gh-article gh-canvas">
        <header class="gh-article-header">
            <h1 class="gh-article-title is-title">Zaloguj się</h1>
            <p class="gh-article-excerpt is-body">Wprowadź swoje dane, aby uzyskać dostęp do konta.</p>
        </header>

        <section class="gh-content gh-canvas is-body">
            <form class="gh-form gh-login-form" data-members-form="signin">
                <input type="hidden" data-members-label value="Logowanie przez formularz główny" />

                <input class="gh-form-input" id="login-email" name="email" type="email" placeholder="Twój email" required data-members-email>

                <button class="gh-button gh-login-button" type="submit" aria-label="Zaloguj się">
                    <span><span>Zaloguj się</span> {{> "icons/arrow"}}</span>
                    {{> "icons/loader"}}
                    {{> "icons/checkmark"}}
                </button>

                <p class="gh-members-feedback loading" data-members-loading hidden>⏳ Przetwarzanie...</p>
                <p class="gh-members-feedback error" data-members-error hidden>❗ Coś poszło nie tak. Spróbuj ponownie.</p>
                <p class="gh-members-feedback success" data-members-success hidden>✅ Sukces! Sprawdź skrzynkę e-mail.</p>
            </form>

            <p class="gh-helper-text">
                Nie masz konta? <a href="{{@site.url}}/signup/">Zarejestruj się</a>.
            </p>
        </section>
    </article>
</main>
