{{!< default}}

<main class="gh-main">
 
            <h1 class="gh-article-title is-title">Zarejestruj się</h1>
            <p class="gh-article-excerpt is-body">Wprowadź swoje dane, aby utworzyć konto.</p>
    

   
            {{> "signup-form"}}
            <p class="gh-helper-text">
                Masz już konto? <a href="{{@site.url}}/login/">Zaloguj się</a>.
            </p>
   

</main>
